@charset "UTF-8";

@font-face {
  font-family: "MrsEavesItalic_Italic";
  font-display: swap;
  src: url("../fonts/MrsEavesItalic_Italic.woff") format("woff"), url("../fonts/MrsEavesItalic_Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.block__title {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  text-align: center;
  margin-bottom: 23px;
}

.block__subtitle {
  color: #333333;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
}

.block__decor {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto 47px auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 28px;
  z-index: 5;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon__link {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
}

.menu {
  position: relative;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  margin-right: 55px;
}

.menu__link {
  position: relative;
  color: #ffffff;
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

.menu__link:hover {
  color: #fce38a;
}

.menu__link:hover::after {
  content: '';
  position: absolute;
  display: block;
  top: 22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-bottom: 3px;
  width: calc(100% + 15px);
  background-color: #fce38a;
}

.soc-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.soc-menu__li {
  margin-right: 42px;
}

.soc-menu__li:last-child {
  margin-right: 0;
}

.text-welcome {
  text-align: center;
}

.text-welcome__title {
  margin-top: 178px;
  color: #ffffff;
  font-family: "Kaushan Script";
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 42px;
}

.text-welcome__subtitle {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 150px;
  font-weight: 700;
  line-height: 140px;
  text-transform: uppercase;
  margin-bottom: 71px;
}

.text-welcome__decor {
  margin: 0 auto;
  width: 60px;
  height: 3px;
  background-color: #ffffff;
  margin-bottom: 50px;
}

.text-welcome__btn {
  padding: 8px 20px;
  border: 3px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.navigation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__column {
  width: calc(25% - 30px);
}

.column-nav__decor {
  background-color: #fff;
  height: 3px;
  margin-bottom: 15px;
}

.column-nav__num {
  padding-top: 25px;
  display: inline;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.column-nav__text {
  display: inline;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.story {
  padding-top: 109px;
  padding-bottom: 122px;
}

.story__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 40px;
}

.column-story {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
}

.column-story__img img {
  position: absolute;
  display: block;
  left: -40px;
}

.column-story__title {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.column-story__descr {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
}

.amazing {
  padding-top: 91px;
  padding-bottom: 110px;
}

.amazing__descr {
  color: #999999;
  max-width: 950px;
  margin: 0 auto 0 auto;
  font-family: Roboto;
  font-size: 15px;
  text-align: center;
  line-height: 24px;
  margin-bottom: 100px;
}

.amazing__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -10px;
}

.amazing__column {
  padding: 0 10px;
}

.amazing__column img {
  max-width: 100%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.amazing__column img:hover {
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  background-color: #95e1d3;
}

.features {
  padding: 90px 0;
  background-color: #95e1d3;
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__num {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 72px;
  font-weight: 700;
  text-align: center;
}

.features__txt {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.design {
  padding-top: 109px;
  max-height: 859px;
  display: block;
  position: relative;
}

.design__block {
  position: relative;
  z-index: 5;
}

.design__phone {
  position: relative;
  z-index: 5;
  margin: 0 auto;
  text-align: center;
}

.design__phone img {
  max-width: 100%;
}

.design__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Слайдер */

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки (булиты) */

/* Активная точка */

/* Элемент точки */

.slider {
  position: relative;
  padding-left: 120px;
  padding-right: 120px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 10;
  font-size: 0;
}

.slick-arrow.slick-prev {
  left: 0;
  background: url("../img/slider/arr-l.png") 0 0 no-repeat;
  width: 12px;
  height: 22px;
}

.slick-arrow.slick-next {
  right: 0;
  background: url("../img/slider/arr-r.png") 0 0 no-repeat;
  width: 12px;
  height: 22px;
}

.slider {
  padding: 70px 0;
  background-color: #f8f8f8;
}

.slider__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
}

.slider__txt {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  color: #999999;
  font-family: Roboto;
  font-size: 24px;
  line-height: 36px;
  font-weight: 100;
}

.slider__auhtor {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  margin-left: 70px;
  position: relative;
  margin-top: 23px;
}

.slider__auhtor::before {
  position: absolute;
  left: -70px;
  top: 17px;
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.quote-one {
  background-color: #f8f8f8;
}

.slider {
  padding-left: 30px;
  padding-right: 30px;
}

.team {
  padding-top: 100px;
  padding-bottom: 117px;
}

.team__descr {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  max-width: 954px;
  margin: 0 auto;
  margin-bottom: 92px;
}

.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.team__column {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.team__column img {
  max-width: 100%;
  margin-bottom: 31px;
}

.team__title {
  text-align: center;
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  text-transform: uppercase;
}

.team__subtitle {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 100;
  text-align: center;
}

.icon {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.icon__row {
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.work__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item {
  height: 100%;
  display: block;
  position: relative;
}

.quote {
  margin-top: 30px;
  background-color: #f8f8f8;
}

.quote__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}

.quote__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
  padding: 0 15px;
  max-width: 100%;
}

.quote__txt {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  color: #999999;
  font-family: Roboto;
  font-size: 24px;
  line-height: 36px;
  font-weight: 100;
  padding: 0 15px;
}

.quote__auhtor {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  margin-left: 70px;
  position: relative;
  margin-top: 23px;
}

.quote__auhtor::before {
  content: '';
  position: absolute;
  left: -70px;
  top: 17px;
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.say {
  position: relative;
  display: block;
  padding-top: 109px;
  padding-bottom: 129px;
  max-height: 830px;
}

.say__container {
  position: relative;
  z-index: 5;
}

.say__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.say__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  margin-top: 87px;
}

.say__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
}

.say__text {
  margin-left: 30px;
  margin-bottom: 80px;
}

.say__title {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.say__subtitle {
  color: #333333;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 17px;
}

.say__dicor {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin-bottom: 24px;
}

.say__descr {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
}

.say__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog {
  padding-top: 60px;
  padding-bottom: 80px;
}

.blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 -15px;
}

.blog__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.337%;
          flex: 0 1 33.337%;
  padding: 0 15px;
}

.blog__img {
  position: relative;
  margin-bottom: 20px;
}

.blog__img img {
  max-width: 100%;
}

.blog__icon {
  position: absolute;
  bottom: 5px;
  left: -5px;
}

.icon-blog {
  width: 60px;
  height: 70px;
  background-color: #95e1d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icon-blog__num {
  color: #ffffff;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
}

.icon-blog__month {
  font-family: Roboto;
  color: #fff;
  font-weight: 100;
  font-size: 15px;
}

.text-blog__title {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.text-blog__subtitle {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 24px;
}

.text-blog__decor {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin-bottom: 20px;
}

.text-blog__view {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 100;
  margin-right: 8px;
}

.text-blog__comm {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 100;
  margin-right: 8px;
}

.text-blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.map {
  padding: 57px 0;
  display: block;
  position: relative;
}

.map__block {
  position: relative;
  z-index: 5;
  margin: 0 auto;
  text-align: center;
}

.map__block img {
  margin-bottom: 20px;
}

.map__title {
  color: #f38181;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.map__decor {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto;
}

.map__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.footer {
  padding-top: 74px;
  padding-bottom: 70px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  padding: 0 15px;
}

.about-footer__title {
  color: #cccccc;
  font-family: Montserrat;
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 42px;
}

.about-footer__descr {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 49px;
}

.about-footer__foll {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  margin-bottom: 37px;
}

.about-footer__foll_b {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  margin-right: 5px;
  font-family: Montserrat;
}

.about-footer__us {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  margin-bottom: 38px;
}

.about-footer__img {
  margin-left: 8px;
  margin-right: 10px;
}

.about-footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-footer__input {
  width: 230px;
  height: 40px;
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  color: #cccccc;
  font-family: Roboto;
  font-size: 15px;
  padding-left: 10px;
}

.about-footer__btn {
  width: 150px;
  height: 40px;
  border: 1px solid #95e1d3;
  background-color: #95e1d3;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
}

.blogs-footer__title {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  margin-bottom: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

.blogs-footer__img {
  margin-right: 20px;
  margin-bottom: 31px;
}

.blogs-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogs-footer__row img {
  max-width: 100%;
}

.text-blogs-footer__title {
  color: #333333;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 18px;
}

.text-blogs-footer__date {
  color: #999999;
  font-family: Roboto;
  font-size: 13px;
  line-height: 24px;
}

.inst-footer img {
  max-width: 100%;
}

.inst-footer__title {
  text-transform: uppercase;
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px;
}

.inst-footer__subtitle {
  margin-top: 20px;
  color: #333333;
  font-family: Roboto;
  font-style: italic;
  font-size: 13px;
  line-height: 24px;
}

.footer__last {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

.footer__last span {
  color: #f38181;
}

.what {
  padding-top: 112px;
  padding-bottom: 115px;
}

.what__descr {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  max-width: 950px;
  margin: 0 auto;
  margin-bottom: 92px;
  text-align: center;
}

.what__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px;
}

.what__column {
  padding: 0 15px;
}

.what__column img {
  max-width: 100%;
}

.blockc__title {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  line-height: 28px;
  width: 600px;
  height: 60px;
  border: 1px solid #e5e5e5;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

.blockc__title img {
  margin-right: 16px;
}

.blockc__title::before,
.blockc__title::after {
  content: '';
  width: 10px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 25px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.blockc__title::before {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  right: 8px;
}

.blockc__title::after {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
  right: 15px;
}

.blockc__text {
  display: none;
  font-size: 20px;
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 10px;
  width: 600px;
  height: 175px;
  border: 1px solid #e5e5e5;
  padding: 20px;
}

.blockc__text:last-child {
  margin-bottom: 0;
}

.blockc__title.active::after,
.blockc__title.active::before {
  background-color: red;
}

.blockc__title.active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.blockc__title.active::before {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ov {
  overflow: hidden;
}

@media (max-width: 1100px) {
  .icon__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    margin-bottom: 30px;
  }

  .what__row {
    display: block;
    text-align: center;
  }

  .what__column img {
    margin-bottom: 60px;
  }

  .blockc {
    margin: 0 auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1050px) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .menu__body {
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #eb9884;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transform: translate(0px, -120%);
        -ms-transform: translate(0px, -120%);
            transform: translate(0px, -120%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body.active {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #ffffff;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: px;
    font-weight: 400;
  }

  .menu__list li {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .menu__link:hover::after {
    content: '';
    display: none;
    overflow: hidden;
  }

  .menu__link {
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 400;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: -9px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    background-color: #fff;
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }

  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }

  .soc-menu {
    margin: 0 auto;
  }
}

@media (max-width: 980px) {
  .slider__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .slider__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 30px;
  }

  .slider__auhtor {
    margin-left: 0;
  }

  .slider__auhtor::before {
    width: 0;
  }
}

@media (max-width: 950px) {
  .story__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .column-story {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }

  .amazing {
    padding-top: 50px;
    padding-bottom: 75px;
  }

  .amazing__descr {
    margin-bottom: 65px;
  }

  .amazing__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .amazing__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .blog__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 850px) {
  .features {
    padding: 75px 0;
  }

  .features__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .features__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
    margin: 0 auto;
  }

  .features__txt {
    margin-bottom: 25px;
  }

  .say {
    max-height: 100%;
    margin-bottom: 50px;
  }

  .say__blocks {
    display: block;
    text-align: center;
  }

  .say__row {
    display: block;
  }

  .say__text {
    margin: 0;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .say__dicor {
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .say__descr {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .story {
    padding-top: 70px;
    padding-bottom: 50px;
  }
}

@media (max-width: 760px) {
  .column-nav__decor {
    margin-bottom: 8px;
  }

  .column-nav__num {
    font-size: 18px;
  }

  .column-nav__text {
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .team__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .team__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0 auto;
  }

  .team__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 670px) {
  .story__row {
    margin-left: 0;
  }

  .column-story {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }

  .column-story__img img {
    position: static;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 65px;
  }

  .footer__column:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 650px) {
  .blog__row {
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }

  .blog__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .blog__icon {
    left: 3%;
  }

  .blockc__title {
    width: 450px;
  }

  .blockc__text {
    width: 450px;
    height: 220px;
  }
}

@media (max-width: 580px) {
  .amazing__row {
    text-align: center;
  }

  .amazing__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 550px) {
  .column-nav {
    text-align: center;
  }

  .column-nav__num {
    display: block;
    padding-top: 5px;
  }

  .features__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0 auto;
  }
}

@media (max-width: 549px) {
  .design {
    max-height: 859px;
    overflow: hidden;
  }
}

@media (max-width: 520px) {
  .icon__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 485px) {
  .blockc__title {
    width: 320px;
  }

  .blockc__text {
    width: 330px;
    height: 300px;
  }
}

@media (max-width: 450px) {
  .team__descr {
    margin-bottom: 50px;
  }

  .team__row {
    margin: 0;
    text-align: center;
  }

  .team__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0;
    margin: 0 auto;
  }

  .quote__row {
    display: block;
    text-align: center;
  }

  .quote__img {
    margin-bottom: 30px;
  }

  .quote__auhtor::before {
    width: 0;
  }

  .about-footer__input {
    width: 170px;
  }

  .about-footer__btn {
    width: 100px;
  }
}

@media (max-width: 400px) {
  .navigation__column {
    width: 24%;
  }
}

@media (max-width: 360px) {
  .icon__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 350px) {
  .blockc__title {
    width: 300px;
  }

  .blockc__text {
    width: 300px;
    height: 300px;
    margin-bottom: 5px;
  }
}

@media (max-height: 1000px) {
  .text-welcome__title {
    margin-top: 100px;
    font-size: 68px;
    margin-bottom: 35px;
  }
}

@media (max-height: 768px) {
  .text-welcome__title {
    margin-top: 78px;
    font-size: 68px;
    margin-bottom: 35px;
  }

  .text-welcome__subtitle {
    font-size: 100px;
    line-height: 80px;
    margin-bottom: 30px;
  }

  .text-welcome__decor {
    margin-bottom: 20px;
  }
}

@media (max-height: 600px) {
  .text-welcome__title {
    margin-top: 50px;
    font-size: 55px;
    margin-bottom: 20px;
  }

  .text-welcome__subtitle {
    font-size: 60px;
    line-height: 55px;
    margin-bottom: 15px;
  }
}

@media (max-height: 500px) {
  .text-welcome__title {
    margin-top: 20px;
    font-size: 40px;
  }

  .text-welcome__subtitle {
    margin-top: 20px;
    font-size: 50px;
    line-height: 45px;
  }

  .text-welcome__btn {
    margin-bottom: 15px;
  }
}

.webp .slick-arrow.slick-prev{ background: url(../img/slider/arr-l.webp) 0 0 no-repeat; }

.webp .slick-arrow.slick-next{ background: url(../img/slider/arr-r.webp) 0 0 no-repeat; }